management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,loggers"
  endpoint:
    health:
      show-details: always

info:
  env:
    enabled: true
  application:
    name: discodeit
    version: 1.7.0
    java: 17
    springboot: 3.4.0

  author:
    name: "Codeit"

spring:
  application:
    name: discodeit
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 1MB
  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    driver-class-name: org.postgresql.Driver
    username: discodeit_user
    password: discodeit1234
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
    show_sql: true
    open-in-view: false

discodeit:
  storage:
    type: local
    local:
      root-path: /Users/mac/myWs/uploadedFilesimg

file:
  upload:
    # OS별 외부 파일 저장 경로 설정
    windows:
      # 윈도우 OS용 파일 업로드 기본 경로
      path: C:/myWs/uploadedFiles
    mac:
      # macOS용 파일 업로드 기본 경로
      # /Users/mac/ 이부분이 각자 컴퓨터 맞게
      path: /Users/mac/myWs/uploadedFilesimg
