spring:
  application:
    name: discodeit

discodeit:
  repository:
    type: file   # jcf | file
    file-directory: .discodeit

logging:
  level:
    root: INFO
    com.sprint.mission: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n%ex"
  file:
    name: logs/app.log

  spring:
    servlet:
      multipart:
        enabled: true
        max-file-size: 10MB
        max-request-size: 20MB
        location: .discodeit
        file-size-threshold: 1MB