spring:
  application:
    name: discodeit
  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량

  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   # 운영 환경에서는 validate 또는 none 권장
    show-sql: true        # 실행되는 SQL 출력. product 에서는 false
    properties:
      hibernate:
        format_sql: true   # SQL 보기 좋게 정렬
        highlight_sql: true # (Hibernate 5.5+) ANSI 색상 강조
        use_sql_comments: true # JPQL -> SQL 변환 시 주석 추가
        # 사용할 데이터베이스 방언(Dialect) 지정
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false   # OSIV 비활성화 (서비스 계층에서만 영속성 사용)

  sql:
    init:
      mode: never   # schema.sql, data.sql 실행 여부 (never, embedded, always)
  #  defer-datasource-initialization: true
  #  ↑ JPA가 스키마 생성 후 data.sql 실행하도록 보장 (Spring Boot 2.5+)


discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit

logging:
  level:
    root: DEBUG
    org.hibernate.SQL: DEBUG            # 실행되는 SQL 로그
    org.hibernate.type.descriptor.sql: TRACE  # SQL에 바인딩되는 파라미터 값 출력