spring:
  application:
    name: discodeit
  boot:
    admin:
      client:
        instance:
          name: discodeit
  messages:
    basename: messages
    encoding: UTF-8
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: false
    open-in-view: false
  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 50MB

info:
  app:
    name: Discodeit
    version: 1.7.0
    java-version: 17
    spring-boot-version: 3.5.5
    ddl-auto: none
    storage:
      type: local
      root-path: /binary-data
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

management:
  endpoints:
    web:
      exposure:
        include: health,loggers,info,metrics
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

discodeit:
  storage:
    type: local
    root-path: /binary-data
