spring:
  application:
    name: discodeit

  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: update # (create, create-drop, update, validate 등 사용 가능)
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    open-in-view: false

logging:
  level:
    root: info
    # JDBC 관련 로그를 DEBUG 레벨로 출력
    org.hibernate.SQL: debug
    # SQL 파라미터를 출력
    org.hibernate.orm.jdbc.bind: trace

discodeit:
  repository:
    file-directory: ./uploads