spring:
  application:
    name: discodeit

  datasource:
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # (create, create-drop, update, validate 등 사용 가능)
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    # JDBC 관련 로그를 DEBUG 레벨로 출력
    org.hibernate.SQL: debug
    # SQL 파라미터를 출력
    org.hibernate.orm.jdbc.bind: trace

discodeit:
  repository:
    type: file #jcf | file
    file-directory: .discodeit

