management:
  endpoints:
    web:
      exposure:
        include: loggers
spring:
  application:
    name: discodeit
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 1MB
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}

discodeit:
  storage:
    type: ${STORAGE_TYPE:local}
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:.discodeit/storage}
    s3:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
      region: ${AWS_S3_REGION:ap-northeast-2}
      bucket: ${AWS_S3_BUCKET}
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600} # (기본값: 10분)

file:
  upload:
    # OS별 외부 파일 저장 경로 설정
    windows:
      # 윈도우 OS용 파일 업로드 기본 경로
      path: C:/myWs/uploadedFiles
    mac:
      # macOS용 파일 업로드 기본 경로
      # /Users/mac/ 이부분이 각자 컴퓨터 맞게
      path: /Users/mac/myWs/uploadedFilesimg

server:
  port: 80
