<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공개 채널 생성</title>
</head>
<body>
<h2>공개 채널 생성</h2>
<form th:action="@{/channel/public}" method="post">
    <div>
        <label for="userId">개설자:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="channelName">채널 이름:</label>
        <input type="text" id="channelName" name="channelName" required>
    </div>
    <div>
        <label for="description">채널 설명:</label>
        <input id="description" name="description"/>
    </div>
    <br>
    <button type="submit">채널 생성</button>
</form>
</body>
</html>