<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>읽음 상태 생성</title>
</head>
<body>
<h2>읽음 상태 생성 (POST)</h2>

<form th:action="@{/readStatus}" method="POST">
    <div>
        <label for="userId">사용자 ID:</label><br>
        <input type="text" id="userId" name="userId" placeholder="사용자 ID 입력"><br><br>
    </div>
    <div>
        <label for="channelId">채널 ID:</label><br>
        <input type="text" id="channelId" name="channelId" placeholder="채널 ID 입력"><br><br>
    </div>
    <button type="submit">생성하기</button>
</form>
</body>
</html>