<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보 수정</title>
</head>
<body>

<div>
    <h3> 수정할 현재 내용</h3>
    <p><img th:src="@{/uploads/{filePath}(filePath=${binaryContent.getFilePath()})}" alt="유저 프로필" width="200" height="150"></p>
    <p><strong>이름: </strong><span th:text="${user.name()}">이름</span></p>
    <p><strong>이메일: </strong><span th:text="${user.email()}">이메일</span></p>
    <p><strong>나이: </strong><span th:text="${user.age()}">나이</span></p>
    <p><strong>최근 접속 시간: </strong><span th:text="${user.lastAccessAt()}">최근 접속 시간</span></p>
    <p><strong>접속 상태: </strong><span th:text="${user.userStatus()}">접속 상태</span></p>
</div>

<h2>사용자 정보 수정</h2>
<form th:action="@{/user/update}" th:object="${user}" th:method="put" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" th:field="*{id}" />
    <div>
        <label for="userName">사용자 이름:</label>
        <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email">
    </div>

    <div>
        <label for="password">새 비밀번호 (선택):</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="multipartFile">새 프로필 이미지:</label>
        <input type="file" id="multipartFile" name="multipartFile" required>
    </div>
    <br>
    <button type="submit">수정하기</button>
</form>
</body>
</html>