<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
    <h1>미션 4 컨트롤러 사용 목록</h1>

    <h2><a href="/loginP" >login</a></h2>

    <h2><a href="/binaryContent/multi" >getAllBinaryContent</a></h2>

    <h2><a href="/channelP/public">createChannelPublic</a></h2>

    <h2><a href="/channelP/private">createChannelPrivate</a></h2>

    <h2><a href="/channelP">ChannelList</a></h2>

    <h2><a href="/userP/create">userCreate</a></h2>

    <h2><a href="/user/all">userList</a></h2>

    <h2><a href="/messageP">messageList</a></h2>

    <h2><a href="/messageP/send">sendMessage</a></h2>

    <h2><a href="/readStatusP/create"> createStatus </a></h2>

    <h2><a href="/readStatusP/getStatus"> getStatus </a></h2>

</body>
</html>