<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메시지 보내기</title>
</head>
<body>
<h2>메시지 보내기</h2>
<form th:action="@{/message}" method="post" enctype="multipart/form-data">
    <div>
        <label for="channelId">채널 ID:</label>
        <input type="text" id="channelId" name="channelId" required>
    </div>
    <div>
        <label for="userId">사용자 ID:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="content">메시지 내용:</label>
        <input type="text" id="content" name="content" required></input>
    </div>
    <div>
        <label for="multipartFiles">첨부 파일:</label>
        <input type="file" id="multipartFiles" name="multipartFiles" multiple>
    </div>
    <br>
    <button type="submit">전송</button>
</form>
</body>
</html>