<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메시지 수정</title>
</head>
<body>

<div>
    <h3>수정할 현재 내용</h3>
    <p><strong>채널 이름: </strong><span th:text="${message.channel}"></span></p>
    <p><strong>보낸 사람: </strong><span th:text="${message.sender}"></span></p>
    <p><strong>메시지 내용: </strong><span th:text="${message.content}"></span></p>
    <div th:each="id : ${files}">
        <img th:src="@{/uploads/{id}(id=${id})}" alt="이미지" width="200" height="150">
    </div>
</div>



<h2>메시지 수정</h2>
<form th:action="@{/message}" th:method="put" th:object="${message}" enctype="multipart/form-data">
    <input type="hidden" name="id" th:field="*{id}">
    <div>
        <label for="content">메시지 내용:</label>
        <input type="text" id="content" name="Content" required>
    </div>
    <div>
        <label for="files">유지 시킬 파일 ID 목록:</label>
        <textarea id="files" name="files" rows="4" cols="50" placeholder="쉼표(,)로 구분하여 ID를 입력하세요." th:field="*{attachmentIds}"></textarea>
        <p>예: 9572ae9b-...,d4d7e865-...,0c67c654-...</p>
    </div>
    <div>
        <label for="multipartFiles">새로 추가할 파일:</label>
        <input type="file" id="multipartFiles" name="multipartFiles" multiple>
    </div>
    <br>
    <button type="submit">메시지 수정</button>
</form>
</body>
</html>